<h1><%= t("mailers.hello", name: @user.first_name) %></h1>
<p><%= t("mailers.invitation.body", event: @event.name) %></p>
<p>Start: <strong><%= l(@event.scheduled_at, format: :long) %></strong></p>
<p>Potwierdź do: <strong><%= l(@deadline, format: :short) %></strong></p>
<p><%= link_to "Otwórz event", event_url(@event) %></p>
